<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mitt CV | <%= title %></title>

    <link rel="icon" href="/assets/favicon.ico" type="favicon">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <h1>Mitt CV</h1>
    </header>

    <main>
        
        <a class="tablink" href="/">Mina kurser</a>
        <a class="tablink" href="/addcourse">Lägg till kurs</a>
        <a class="tablink active" href="/about">Om appen</a>

        <div class="tabcontent">
            <h2>Om appen</h2>
            <p>
                Syftet med denna webbapplikation är att en användare ska kunna lagra och visa kurser hen gått. Under fliken
                <a href="/">Mina kurser</a> visas de kurser användaren har lagrat och under fliken 
                <a href="/addcourse">Lägg till kurs</a> finns möjlighet att lägga till nya kurser via ett formulär. 
                För lagring av kurser har databasen PostgreSQL tillsammans med adminverktyget pgAdmin använts.
                <br>
                <br>
                De slutsatser jag kunnat dra av arbetet med denna uppgift är...
            </p>
        </div>
    </main>

    <footer>
        <p>
            Laborationsuppgift för kursen DT207G.
            <br>
            Copyright © 2024 <%= fullname %>
        </p>
    </footer>
    
    <script src="/js/main.js" type="module"></script>
</body>
</html>