/* Återställer default-värden. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERELLT FÖR ALLA SIDOR. */

/* Body. */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header. */
header {
    background-color: #516e8e;
    color: #ffffff;
    width: 100%;
    height: 125px;
    margin: 0;
    padding-left: 20px;
}

/* Style för flikar. */
.tablink {
    background-color: #46607b;
    color: white;
    height: 60px;
    float: left;
    border-top: 2px solid #3c526a;
    outline: none;
    cursor: pointer;
    padding: 5px 15px;
    width: 33.33%;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 2px #000000;
}

/* Hover-effekt för flikar. */
.tablink:hover {
    background-color: #3c526a;
}

/* Style för flik-innehåll. */
.tabcontent {
    padding: 100px 0 50px 0;
    height: 100%;
    width: 80%;
}

/* Visar aktiva flikens innehåll.*/
.tabcontent:target {
    background-color: #e9e9e9;
    color: #3c526a;
}

/* Lägger till en klass för den aktiva fliken. */
.tablink.active {
    background-color: #e9e9e9;
    color: #3c526a;
    text-shadow: none;
    font-weight: bold;
    text-decoration: underline;
}

/* Rubriker. */
h1 {
    margin: 3rem 0 0 3rem;
    text-shadow: 1px 2px #000000;
}

h2 {
    margin: 0 0 0 3rem;
    font-weight: bold;
    color: #3c526a;
}

h3 {
    margin: 0 0 0.75rem 0;
    font-weight: bold;
    color: #3c526a;
}

/* SID-SPECIFIKA REGLER. */

/* Paragraf i flik-innehållet på about-sidan. */
.tabcontent p {
    margin: 2rem 0 0 3rem;
    max-width: 55ch;
    line-height: 2;
}

/* Listan på index-sidan. */
.courselist-container {
    width: 90%;
    margin: 2rem 0 0 3rem;
}

/* Listan i flik-innehållet på index-sidan. */
.courselist-container ul {
    list-style-type: none;
    line-height: 1.6;
}

/* Container för tillagd kurs i listan på index-sidan. */
.course-container {
    border: 1px solid #ccc;
    padding: 1rem;
    border: 5px double #3c526a;
    background-color: #ffffff;
    margin: 0 0 1.5rem 0;
    color: #3c526a;
}

/* Radera kurs-knapp. */
.deleteCourse  {
    width: 8rem;
    height: 2rem;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.65);
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin: 1rem 0 0 0;
    background-color: #c66960;
}

/* Hover-effekt. */
.deleteCourse:hover {
    background-color: #a64343;
}

/* Formulär på "Lägg till kurs"-sidan. */
#coursesForm {
    width: 100%;
    background-color: #e9e9e9;
    color: #3c526a;
    font-weight: bold;
    line-height: 1.2;
    margin: 1rem 0 0 3rem;
}

/* Progression-rubrik. */
#prog {
    margin: 0;
}

/* Radio-knappar. */
#A,
#B,
#C {
    cursor: pointer;
}

/* Input-fält. */
#courseCode,
#courseName,
#courseSyllabus {
    width: 100%;
    height: 2rem;
    margin-top: 0.4rem;
    border: 1px solid #3c526a;
    padding-left: 0.5rem;
    font-size: 14px;
    color: #3c526a;
}

/* Spara-knapp. */
#saveCourse  {
    width: 5rem;
    height: 2rem;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.65);
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin: 2rem 0 0 0;
    background-color: #78bc78;
}

/* Hover-effekt. */
#saveCourse:hover {
    background-color: #519051;
}

/* Rensa-knapp. */
#resetForm {
    width: 5rem;
    height: 2rem;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.65);
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin: 2rem 0 0 2rem;
    background-color: #c66960;
}

/* Hover-effekt. */
#resetForm:hover {
    background-color: #a64343;
}

/* Footer. */
footer {
    margin-top: auto;
    width: 100%;
    height: 75px;
    background-color: #516e8e;
    color: white;
    text-align: center;
    line-height: 1.6;
    padding: 0.75rem 0 0 0;
    border-top: 2px solid #3c526a;
}

/* Style för skärmstorlek större än 392px. */
@media (min-width: 393px) {
    .tablink {
        padding: 17px 15px;
    }
} 

/* Style för skärmstorlek större än 495px. */
@media (min-width: 496px) {
    #courseCode,
    #courseName,
    #courseSyllabus {
    width: 75%;
    }

    .courselist-container {
        max-width: 55ch;
    }
} 

/* Style för skärmstorlek större än 768px. */
@media (min-width: 769px) {
    #courseCode,
    #courseName,
    #courseSyllabus {
    width: 40%;
    }
}

/* Style för skärmstorlek större än 1920px. */
@media (min-width: 1921px) {
    body {
        font-size: larger;
    }



    a {
        font-size: larger;
    }
}